* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.float-left {
  float: left;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}

.bg-green {
  background-color: #7cbb02;
}

.border-white {
  border: 1px solid white;
}

.btn {
  padding: 5px 10px;
  border-radius: 5px;
}

.btn.large {
  padding: 20px 30px;
  font-size: 12px;
}

/* Header */
header {
  background-color: #0c325a;
  background-image: url(../img/background-header.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 108% 108%;
}

header a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

header a:hover {
  text-decoration: underline;
}

a.btn:hover {
  text-decoration: none;
}

 /* Top Bar */
.top-bar {
  width: 100%;
  line-height: 60px;
  text-align: center;
}

.top-bar .logo {
  width: 10%;
  height: 60px;
  text-align: left;
}

.top-bar .logo img {
  margin-top: 10px;
}


.top-bar ul {
  list-style: none;
}

.top-bar ul li {
  margin: 0 10px;
  font-size: 10px;
  display: inline-block;
}

.top-bar nav {
  width: 50%;
}

.top-bar .interact {
  width: 40%;
  text-align: right;
}

/* Jumbotron */
.jumbotron {
  height: 340px;
  position: relative;
}

.jumbotron .text {
  width: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0 , -50%);
}

.jumbotron .text h1 {
  font-size: 42px;
  margin-bottom: 40px;
  color: white;
}

/* Main Top */
.main-top {
  height: 150px;
  background-color: #d3d3d3;
  position: relative;
  text-align: center;
}

.main-top .text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
}

.main-top .text p {
  margin-top: 10px;
  color: #999999;
}

/* Main Mid T */
.main-mid-t {
  margin: 30px auto 30px;
  text-align: center;
}

.main-mid-t div {
  display: inline-block;
  width: calc(33% - 60px);
  margin: 0 30px;
}

.main-mid-t img {
  height: 100px;
  margin-bottom: 20px;
}

.main-mid-t h3 {
  color: #7cbb02;
}

.main-mid-t hr {
  margin: 20px auto;
  width: 80px;
}

.main-mid-t p {
  font-size: 12px;
  line-height: 1.8;
  color: #999999;
}

/* Main Mid B */
.main-mid-b {
  padding: 30px 100px;
}

.main-mid-b div {
  width: 50%;
  float: left;
}


.main-mid-b img {
  width: 80%;
}
